body {
  background-color:#000000;
  background-image: url("the_punisher_skull.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

h1 {
  font-family: verdana;
  color: #FC5F00;
  text-aling: center;
}

p {
  font-family: verdana;
  font-sie: 60px;
  color: #FC5F00;
}
table {
  font-family: verdana;
  color: #FC5F00;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #FC5F00;
  text-align: left;
  padding: 8px;
}
