<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-aling: center;
}

p {
  font-family: verdana;
  font-sie: 20px;
}

</style>
</head>
</html>

