body {
  background-image: url("the_punisher_skull.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}

h1 {
  color: Orange;
  text-aling: center;
}

p {
  font-family: verdana;
  font-sie: 60px;
  color: Orange;
}
